
body{
    background-color: lavender;
  
  }
  * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  /* -------------------Styles on container for Input and List-------------------- */
  #ctn-for-input{
    display:flex;
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width:100%;
    /* border:2px solid blanchedalmond; */
  }
  #ctn-for-input #abc{
    width : 100%;
    /* border:2px solid blanchedalmond; */
  }
  #cat-date{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
    height:100%;
  }
  #cat , #date {
    width : 50%;
  }
  #cat select{
    width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      border: 1px solid #f3f3f3;
      margin-bottom: 3px;
      background-color: lightblue;
      border-radius: 5px;
    
  }
  #date input{
      width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      /* border: 1px solid #f3f3f3; */
      margin-bottom: 3px;
      background-color: lightblue;
      border-radius: 5px;
      border:none;

  }
  
  #add-btn{
    background-color: lightseagreen;
    color:whitesmoke;
    padding:10px;
    border-color: lightseagreen;
    font-weight: 800;
  }
  
  #delete-btn{
    background-color: lightcoral;
    color:whitesmoke;
    padding:10px;
    border-color: lightcoral;
    font-weight: 800;
  }
  form{
    text-align: center;
  }
  /* ----------------------------Container for cnt Div----------------------------- */
  #container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  /* -------------------------Container for cnt-for-input Div--------------------- */
  #cnt{
    width: 500px;
    margin: auto;
  }

  #type{
    background-color: royalblue;
    border:none;
    color:white;
  }
  #name-dis{
    display: flex;
    flex-direction: column;
    border:2px solid blanchedalmond;
  }
  i{
    padding : 5px;
  }
  /* ---------------------------Styles on Tasks List--------------------------- */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    background-color: burlywood ;
  }
  /* -----------------------------Styles on List Items-------------------------- */
  ul li {
    padding: 10px;
    /* padding-left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
    background-color: lightgray;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  
  }
  ul li p {
    color:#0079bf;
    /* background-color:lightblue; */
    font-weight: 300;
    font-size: small;
  }
  ul li label{
    color:#0079bf;
    font-weight: 600;
  }
  ul li:hover {
    background: lightcyan;
  
  }
  ul li:hover .delete{
    visibility: visible;
  }
  /* -----------------Styles on Input Elemnt undet the List Items------------------ */
  #list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  /* -------------Styles on Label on Input Element under the List Items------------- */
  #list label {
    position: relative;
    cursor: pointer;
  }
  
  #list label:before {
    content:'';
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  #list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #list input:checked + label:before {
    background: #0079bf;
  } 
  #list input:checked + label {
    text-decoration: line-through;
  }
  .delete {
    height: 28px;
      padding: 5px 0px;
      border-radius: 3px;
      visibility: hidden;
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
  
  /* ------------------------- Styles on Title Text --------------------- */
  h1 {
    text-align: center;
  }
  /* ------------------------- Styles on Input Element Below the Title ------------------------------ */
  .add-task {
      width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      border: 1px solid #f3f3f3;
      margin-bottom: 3px;
      background-color: lightblue;
      border-radius: 5px;
  }
  /* -------------------------------- Styles on Conter for Tasks ------------------------------------- */
  #total-tasks {
      margin: 4px;
      font-size: medium;
      background-color: cornflowerblue;
      color: whitesmoke;
  }
  
  
  /* -----------------media tag--------------- */
  @media only screen and (max-width: 600px) {
    
    #cnt{
      
      width: 90vw;
      overflow: scroll;
      /* font-size: 2rem; */
    }
  
    .add-task {
      font-size: 20px;
    }
    
  }